@(query: String, users: Seq[controllers.Application.TwitterUser])

@main("Search Results") {
    <h3>Search results for "@query"</h3>
    <br />
    <table>
        <tr>
            <th></th>
            <th>Handle</th>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Following</th>
            <th>Followers</th>
            <th>Following/ Followers</th>
        </tr>
        @for(user <- users) {
        <tr>
            <td><input type="submit" name="follow" value="Follow"></input></td>
            <td><a target="#" href="https://twitter.com/@user.handle">@@@user.handle</a></td>
            <td>@user.userName</td>
            <td>@user.description</td>
            <td>@user.location</td>
            <td style="text-align:right">@user.followingStr</td>
            <td style="text-align:right">@user.followersStr</td>
            <td style="text-align:right">@{"%.2f".format(user.ratioFollowingToFollowers)}</td>
        </tr>
        }
    </table>
}